/* Font for headings  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Inter", sans-serif;
}

[data-md-color-scheme="default"] {
  --gray1: hsl(0, 0%, 100%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93.0%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78.0%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9.0%);
  --link : hsl(208, 100%, 47.3%);
  --link-hover: hsl(211, 100%, 43.2%);

}

[data-md-color-scheme="slate"] {
  --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11.0%);
  --gray3: hsl(0, 0%, 13.6%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93.0%);
  --link: hsl(209, 100%, 60.6%);
  --link-hover: hsl(210, 100%, 66.1%);

}

.md-header__button.md-logo > :-webkit-any(img,svg) {
  color: var(--gray12);
  padding-left: 8px;
 }

h1, h2, h3,
h4, h5, h6, p, label, th, td, ul, li{
  font-family: "Inter";
  color: var(--gray12);
}


.md-typeset a {
  color: var(--link);
}
.md-typeset a:hover {
  color: var(--link-hover);

}

.md-typeset h1{
  font-size: 26px;
  font-weight: 500;
}

.md-typeset h2{
  font-size: 22px;
  font-weight: 500;

}

.md-typeset h3{
  font-size: 18px;
  font-weight: 500;

}

.md-typeset p, li, span, label{
  font-size: 16px;
}

.md-typeset .admonition, .md-typeset details {
  border-radius: .385rem;
}

.md-typeset table:not([class]), .md-typeset table:not([class]) p {
  border-radius: .385rem;
  font-size: 14px;
}

thead {
  background: var(--gray2)
}
.md-typeset h1 {
  color: var(--gray12);
}
/* Override heading font in sidenav and page toc */
.md-nav .md-ellipsis {
  font-family: "Roboto" !important;
}

/* Hide the GitHub repo star and fork numbers */
.md-source__facts {
  display: none;
}

/* Top nav background and logo customizations */
.md-header, .md-tabs {
  /* background: linear-gradient(44.99deg, #17AEFF 11.43%, #B263FE 43.27%, #F97ACE 85.89%); */
  background: var(--gray1);
  color: var(--gray12);
  /* background: linear-gradient(45deg, #17AEFF , #B263FE); */
  /* background: linear-gradient(44.99deg, #17AEFF 11.43%, #B263FE 33.27%, #263238 85.89%); */
  /* background: #17AEFF; */
  /* background: #B263FE; */
  /* background: #F97ACE; */
}

.md-tabs__link {
  font-size: 16px;
}

.md-tabs {
  border-bottom: 1px solid var(--gray5);
}
[dir=ltr] .md-header__title {
  margin-left:4px;
}

.md-main {
  background: var(--gray1);
}

.md-header__button.md-logo {
  padding: 1px;
  margin: 1px;
}

.md-nav__title {
  display: none;
}

.md-nav__link{
  color: var(--gray11);
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
  font-weight: 400;
  color: var(--gray11);
}

.md-nav__link--active {
  color: var(--gray12)
}

.md-footer-meta, .md-footer-meta * {
  background-color: var(--gray1);
  color: var(--gray12);
}

.md-footer {
  border-top: 1px solid var(--gray5);

}

.md-header__button.md-logo > :-webkit-any(img,svg) {
  height: 1.875rem;
  transform: translateY(2%);
}

.md-nav--secondary .md-nav__title, .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
  background: transparent;
  box-shadow: none;
}

.md-header__topic:first-child {
  font-family: "Inter";
  font-weight: normal;
}

.md-search__form {
  background-color: var(--gray1);
  border: 1px solid var(--gray6);
  border-radius: 6px;
  color: var(--gray11);
}
.md-search__input+.md-search__icon, .md-search__input::placeholder, .md-search__options>.md-icon{
  color: var(--gray11);
  font-size: 16px;
}

[dir=ltr] .md-search__input {
  padding-left: 12px;
  font-size: 16px;
}

[dir=rtl] .md-search__input {
  padding-right: 8px;
  font-size: 16px;
}

.md-search__icon{
  display: none;
}

.md-ellipsis {
  font-family: "Inter";
}

.md-nav__link {
  color: var(--gray11);
}

/* Custom primary and secondary colors */
:root > * {
  --md-primary-fg-color: var(--gray12);
  --md-accent-fg-color: var(--gray12);
  
  --md-code-bg-color-light: var(--gray2);
  --md-code-bg-color-dark: var(--gray5);

}

.md-typeset code {
  border-radius: .385rem;
  border: 1px solid var(--gray5);
  font-size: 14px;
}

.md-clipboard:after {
  background-color:var(--gray11)
}

/* Don't show copy to clipboard icon in command output */
.highlight.no-copy .md-clipboard {
  display: none;
}

/* Formatting for options in CLI reference docs */
.option-details {
  margin-left: 50px;
}

/* Hide section labels in sidenav, e.g., Guides, Reference, etc. */
#__nav_1_label, #__nav_2_label, #__nav_3_label, #__nav_4_label {
  display:none;
}
